.block01{
  background-color: lightgrey;
  min-height: 80vh;
}

nav{
  list-style: none;
  display: block ;
  background: #c00 ;
  color: #fff ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

.block02{
  background-color: rgb(150, 100, 100);
  min-height: 30vh;
}
